student2/src/main/mule/student2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c889f7a-72ac-4a81-99b2-1b929c311c17" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a517c445-7452-4eb4-a078-c98b50d03cc5" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Belelove@2119" database="codenovas" />
	</db:config>
	<flow name="student2Flow" doc:id="6e28a8c6-5ffe-41ce-afb4-ee0bf1bba0cd" >
		<http:listener doc:name="Listener" doc:id="ece526f1-bdae-42d3-bd47-f5acd585d297" config-ref="HTTP_Listener_config" path="/student"/>
		<db:select doc:name="Select" doc:id="c0a4a497-d71c-4934-9855-de5ab7a427a6" config-ref="Database_Config">
			<db:sql >SELECT * FROM codenovas.students;</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="76c793ca-1a71-4813-a176-a07a8857aaa4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8d2edf65-096d-4dda-b26d-cfb396b8c4de" message="#[payload]"/>
	</flow>
</mule>
